openapi: 3.2.0
info:
  version: 3.0.1
  title: SmartNews Marketing article category API
  description: '# Previous Versions

    - SmartNews Marketing API (2.0.0): https://ads.smartnews.com/developers/deprecated/v2/index.html

    - **API v2 has been fully disabled.** All requests to `api/ma/v2/*` endpoints now return a `410 Gone` error.'
  contact:
    name: SmartNews Ads Support
servers:
- url: https://ads.smartnews.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: article category
paths:
  /api/ma/v3/article_categories:
    get:
      tags:
      - article category
      summary: List article categories
      operationId: getAllArticleCategories
      description: 'Returns article category master data for contextual targeting.


        The response is a nested category tree to simplify frontend implementation.'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleCategoryMasterResponse'
        '401':
          description: Unauthorized. The access token is either expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
              x-examples:
                expiredToken:
                  summary: Access token has expired.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token has expired.
                      retriable: false
                invalidToken:
                  summary: Access token is invalid.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token is invalid.
                      retriable: false
        '403':
          description: Forbidden. Access to the requested resource is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
              examples:
                terms_of_service_not_accepted:
                  summary: User has not accepted the terms of service.
                  value:
                    error:
                      type: TERMS_OF_SERVICE_NOT_ACCEPTED
                      message: The owner of the assets must accept the Ads terms of service.
                      terms_of_service_path: /terms/agreement
                      retriable: false
                access_denied:
                  summary: Access is denied due to insufficient permissions.
                  value:
                    error:
                      type: ACCESS_DENIED
                      message: Access denied.
                      retriable: false
        '429':
          description: Too many requests were made within a short period. Wait a while and try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitedErrorResponse'
        '500':
          description: Unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResponse'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponse'
components:
  schemas:
    UnauthorizedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnauthorizedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    UnexpectedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNEXPECTED_ERROR
    UnexpectedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnexpectedError'
    UnexpectedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnexpectedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ArticleCategoryId:
      type: integer
      format: int32
    ArticleCategoryMasterResponse:
      type: array
      description: 'A nested tree of article category master data for contextual targeting.

        '
      items:
        $ref: '#/components/schemas/ArticleCategoryMaster'
      example:
      - id: 1
        parent_id: null
        name:
          en: Sports
          ja: スポーツ
        children:
        - id: 101
          parent_id: 1
          name:
            en: Baseball
            ja: 野球
          children: []
    ServiceUnavailableErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ServiceUnavailableError'
    ServiceUnavailableErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNDER_MAINTENANCE
    ServiceUnavailableError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ServiceUnavailableErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ForbiddenErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ForbiddenError'
    RateLimitedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ErrorBase'
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - TOO_MANY_REQUESTS
    UnauthorizedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthorizedError'
    RateLimitedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/RateLimitedError'
    ArticleCategoryMaster:
      type: object
      required:
      - id
      - parent_id
      - name
      - children
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/ArticleCategoryId'
          description: The unique ID of the article category.
          example: 1
        parent_id:
          allOf:
          - $ref: '#/components/schemas/ArticleCategoryId'
          description: 'The parent category ID.

            A `null` value indicates a root category.

            '
          example: null
        name:
          $ref: '#/components/schemas/ArticleCategoryMasterName'
        children:
          type: array
          description: Child categories under this category.
          items:
            $ref: '#/components/schemas/ArticleCategoryMaster'
    ErrorBase:
      type: object
      required:
      - message
      - retriable
      properties:
        message:
          type: string
        retriable:
          type: boolean
    ArticleCategoryMasterName:
      type: object
      required:
      - en
      - ja
      properties:
        en:
          type: string
          description: The English name of the article category.
          example: Sports
        ja:
          type: string
          description: The Japanese name of the article category.
          example: スポーツ
    UnauthorizedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNAUTHORIZED
    ForbiddenError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ForbiddenErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ForbiddenErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - TERMS_OF_SERVICE_NOT_ACCEPTED
          - ACCESS_DENIED
        terms_of_service_path:
          type: string
          example: /terms/agreement
          description: The path that the user must open in a browser to accept the terms of service. The hostname matches the API hostname.
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
