openapi: 3.2.0
info:
  version: 3.0.1
  title: SmartNews Marketing OAUTH API
  description: '# Previous Versions

    - SmartNews Marketing API (2.0.0): https://ads.smartnews.com/developers/deprecated/v2/index.html

    - **API v2 has been fully disabled.** All requests to `api/ma/v2/*` endpoints now return a `410 Gone` error.'
  contact:
    name: SmartNews Ads Support
servers:
- url: https://ads.smartnews.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: OAuth
paths:
  /api/oauth/v1/access_tokens:
    post:
      tags:
      - OAuth
      description: Generate an access token for the developer application
      summary: Generate an access token
      operationId: generateAccessToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateAccessTokenRequest'
      responses:
        '200':
          description: An array of ad objects. If there is no matched item, it will return an empty array.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateAccessTokenResponse'
        '400':
          description: Bad request due to invalid grant_type or application_type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized due to invalid client_id or client_secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/oauth/v1/access_tokens/revoke:
    post:
      tags:
      - OAuth
      summary: Revoke all active access tokens for the developer application
      operationId: revokeAccessToken
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RevokeAccessTokenRequest'
      responses:
        '204':
          description: Revoked successfully
        '401':
          description: Unauthorized due to invalid client_id or client_secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    RevokeAccessTokenRequest:
      type: object
      required:
      - client_id
      - client_secret
      properties:
        client_id:
          type: integer
          format: int64
          description: The client id(developer app id) of the developer app.
        client_secret:
          type: string
          description: The client secret of the developer app. Client secret is a credential generated when the developer app is created.
    GenerateAccessTokenRequest:
      type: object
      required:
      - grant_type
      - client_id
      - client_secret
      properties:
        grant_type:
          type: string
          description: The grant type of the request. It should be 'client_credentials'.
          example: client_credentials
        client_id:
          type: integer
          format: int64
          description: The client id(developer app id) of the developer app.
        client_secret:
          type: string
          description: The client secret of the developer app. Client secret is a credential generated when the developer app is created.
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - message
          - retriable
          properties:
            message:
              type: string
            retriable:
              type: boolean
    GenerateAccessTokenResponse:
      type: object
      required:
      - access_token
      - expires_in
      - token_type
      - scope
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
        token_type:
          type: string
        scope:
          type: string
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        expires_in: 86400
        token_type: Bearer
        scope: ads-manager
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
