openapi: 3.2.0
info:
  version: 3.0.1
  title: SmartNews Marketing Pixel API
  description: '# Previous Versions

    - SmartNews Marketing API (2.0.0): https://ads.smartnews.com/developers/deprecated/v2/index.html

    - **API v2 has been fully disabled.** All requests to `api/ma/v2/*` endpoints now return a `410 Gone` error.'
  contact:
    name: SmartNews Ads Support
servers:
- url: https://ads.smartnews.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: pixel
paths:
  /api/ma/v3/ad_accounts/{ad_account_id}/pixels:
    get:
      tags:
      - pixel
      summary: Get list of pixels which are linked to the ad_account_id
      description: '- Get list of pixels which are linked to the ad_account_id.'
      operationId: getPixelList
      parameters:
      - name: ad_account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AdAccountId'
      responses:
        '200':
          description: Returns the list of pixels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelWithValidationArrayResponse'
        '401':
          description: Unauthorized. The access token is either expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
              x-examples:
                expiredToken:
                  summary: Access token has expired.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token has expired.
                      retriable: false
                invalidToken:
                  summary: Access token is invalid.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token is invalid.
                      retriable: false
        '403':
          description: Forbidden. Access to the requested resource is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
              examples:
                terms_of_service_not_accepted:
                  summary: User has not accepted the terms of service.
                  value:
                    error:
                      type: TERMS_OF_SERVICE_NOT_ACCEPTED
                      message: The owner of the assets must accept the Ads terms of service.
                      terms_of_service_path: /terms/agreement
                      retriable: false
                access_denied:
                  summary: Access is denied due to insufficient permissions.
                  value:
                    error:
                      type: ACCESS_DENIED
                      message: Access denied.
                      retriable: false
        '404':
          description: 'When the resource specified in the path is not found or the user doesn''t have permission to access the resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundErrorResponse'
        '500':
          description: Unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResponse'
  /api/ma/v3/ad_accounts/{ad_account_id}/pixels/{pixel_tag_id}:
    get:
      tags:
      - pixel
      summary: Get the details of the pixel_tag_id linked to the ad_account_id
      description: '- It will return the details of the pixel_tag_id

        - The pixel_tag_id should be linked to ad_account_id, Otherwise returns 404'
      operationId: getPixelDetail
      parameters:
      - name: ad_account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/AdAccountId'
      - name: pixel_tag_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/PixelTagId'
      responses:
        '200':
          description: Returns the details of the pixel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixelWithValidationResponse'
        '401':
          description: Unauthorized. The access token is either expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
              x-examples:
                expiredToken:
                  summary: Access token has expired.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token has expired.
                      retriable: false
                invalidToken:
                  summary: Access token is invalid.
                  value:
                    error:
                      type: UNAUTHORIZED
                      message: Token is invalid.
                      retriable: false
        '403':
          description: Forbidden. Access to the requested resource is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
              examples:
                terms_of_service_not_accepted:
                  summary: User has not accepted the terms of service.
                  value:
                    error:
                      type: TERMS_OF_SERVICE_NOT_ACCEPTED
                      message: The owner of the assets must accept the Ads terms of service.
                      terms_of_service_path: /terms/agreement
                      retriable: false
                access_denied:
                  summary: Access is denied due to insufficient permissions.
                  value:
                    error:
                      type: ACCESS_DENIED
                      message: Access denied.
                      retriable: false
        '404':
          description: 'When the resource specified in the path is not found or the user doesn''t have permission to access the resource.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundErrorResponse'
        '500':
          description: Unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResponse'
components:
  schemas:
    UnauthorizedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnauthorizedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ResourceNotFoundErrorExtension:
      type: object
      required:
      - type
      - resource_type
      properties:
        type:
          type: string
          enum:
          - NOT_FOUND
          - DELETED
        resource_type:
          type: string
          enum:
          - CAMPAIGN
          - AD_GROUP
          - AD
          - MEDIA_FILE
          - AD_ACCOUNT
          - PIXEL
          - CUSTOM_AUDIENCE
          - PIXEL_URL_CONFIGURATION
          - AM_CONFIGURATION
          - CATALOG
          - STORE_SET
          - RULE
    UnexpectedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNEXPECTED_ERROR
    PixelWithValidationResponse:
      allOf:
      - $ref: '#/components/schemas/PixelResponse'
      - type: object
        required:
        - last_event_date_time
        properties:
          status:
            $ref: '#/components/schemas/PixelValidationStatus'
          last_event_date_time:
            $ref: '#/components/schemas/LastEventDateTime'
    UnexpectedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnexpectedError'
    ResourceNotFoundErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ResourceNotFoundError'
    UnexpectedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnexpectedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    PixelResponse:
      type: object
      required:
      - user_id
      - name
      - pixel_tag_id
      - created_at
      properties:
        user_id:
          $ref: '#/components/schemas/UserId'
        name:
          $ref: '#/components/schemas/CommonSchemas_Name'
        pixel_tag_id:
          $ref: '#/components/schemas/PixelTagId'
        created_at:
          $ref: '#/components/schemas/CommonSchemas_CreatedAt'
    PixelWithValidationArrayResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PixelWithValidationResponse'
    ForbiddenErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ForbiddenError'
    UnauthorizedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthorizedError'
    CommonSchemas_CreatedAt:
      type: string
      format: date-time
      description: The DateTime when the object was created.
    AdAccountId:
      type: integer
      format: int64
      description: Unique ID of the ad account.
    LastEventDateTime:
      type:
      - string
      - 'null'
      format: date-time
      description: The timestamp at which the last event was received for this pixel.
    PixelTagId:
      type: string
      example: 71ccbe033ff6837c48e6c3c6
      description: Unique ID of the pixel which is used in tracking scripts.
    ResourceNotFoundError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ResourceNotFoundErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    CommonSchemas_Name:
      type: string
      description: The name of the pixel.
    ErrorBase:
      type: object
      required:
      - message
      - retriable
      properties:
        message:
          type: string
        retriable:
          type: boolean
    PixelValidationStatus:
      type: string
      enum:
      - EVENTS_RECEIVED
      - PIXEL_NOT_FIRING
      - CONVERSION_EVENTS_MISSING
      - CONVERSION_EVENTS_NOT_MAPPING
      - PARAMETERS_ERROR
      description: '* `EVENTS_RECEIVED` - Events received

        * `PIXEL_NOT_FIRING` - Pixel not firing

        * `CONVERSION_EVENTS_MISSING` - Conversion Events missing (pixel base code is implemented)

        * `CONVERSION_EVENTS_NOT_MAPPING` - Conversion Events not mapping to our list (pixel base code is implemented)

        * `PARAMETERS_ERROR` - Additional parameters error

        '
    UnauthorizedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNAUTHORIZED
    ForbiddenError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ForbiddenErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ForbiddenErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - TERMS_OF_SERVICE_NOT_ACCEPTED
          - ACCESS_DENIED
        terms_of_service_path:
          type: string
          example: /terms/agreement
          description: The path that the user must open in a browser to accept the terms of service. The hostname matches the API hostname.
    UserId:
      type: integer
      format: int64
      description: Unique ID of the user who created the pixel.
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
