openapi: 3.2.0
info:
  version: 3.0.1
  title: SmartNews Marketing smart view article keyword API
  description: '# Previous Versions

    - SmartNews Marketing API (2.0.0): https://ads.smartnews.com/developers/deprecated/v2/index.html

    - **API v2 has been fully disabled.** All requests to `api/ma/v2/*` endpoints now return a `410 Gone` error.'
  contact:
    name: SmartNews Ads Support
servers:
- url: https://ads.smartnews.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: smart view article keyword
paths:
  /api/ma/v3/article_keywords/search:
    post:
      tags:
      - smart view article keyword
      summary: Batch search SmartView article keyword suggestions
      description: 'Accepts a list of keywords and returns preset SmartView article keyword

        suggestions for each, suitable for autocomplete experiences.


        - Input is language-agnostic: both EN and JA queries are supported.

        - Results may contain both EN and JA keywords (exact and similar matches).

        - Results for each keyword are sorted by relevance in descending order.

        - When no matches are found for a keyword, an empty array is returned for that key.'
      operationId: postSearchSmartViewArticleKeywords
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartViewArticleKeywordSearchRequest'
      responses:
        '200':
          description: A map of each input keyword to its matching suggestions sorted by relevance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartViewArticleKeywordSearchResponse'
        '400':
          description: The request body is invalid (e.g. empty query list, more than 1000 keywords, a keyword longer than 80 characters).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized. The access token is either expired or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden. Access to the requested resource is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '429':
          description: Too many requests were made within a short period. Wait a while and try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitedErrorResponse'
        '500':
          description: Unexpected error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResponse'
        '503':
          description: The service is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponse'
components:
  schemas:
    UnauthorizedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnauthorizedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ValidationErrorExtension:
      required:
      - type
      - error_fields
      properties:
        type:
          type: string
          enum:
          - VALIDATION_ERROR
        error_fields:
          type: array
          items:
            type: object
            properties:
              field_name:
                type: string
                description: "The field name that doesn't pass the validation.\\\nFor nested fields, the field name will be in the format of JSON path with dot notation.\\\nHere are some examples:\\\n  - `landing_page_url`(a root level field)\\\n  - `ad.creative.headline`(a nested object field)\\\n  - `creative.image_creative_info.media_file_ids`(an array in a nested object)\\\n  - `creative.carousel_creative_info.carousel_cards[0].caption`(a field of an object in an array)\\\n"
              reason:
                type: string
    UnexpectedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNEXPECTED_ERROR
    UnexpectedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnexpectedError'
    SmartViewArticleKeywordSearchRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: array
          description: 'The list of keywords to search suggestions for.


            Each keyword supports both EN and JA input. Must be between 1 and 80 characters.


            Note: The maximum length is calculated by our standard length calculation rules: [See details](https://help-ads.smartnews.com/item-3888/)

            '
          minItems: 1
          maxItems: 1000
          items:
            type: string
            minLength: 1
            maxLength: 80
        size:
          type: integer
          format: int32
          description: 'The maximum number of suggestions to return per keyword. Defaults to 20.


            Values less than 1 are rejected with a validation error. Values greater

            than 20 are rejected with a validation error.

            '
          minimum: 1
          maximum: 20
          default: 20
    UnexpectedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/UnexpectedErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ServiceUnavailableErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ServiceUnavailableError'
    ServiceUnavailableErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNDER_MAINTENANCE
    ServiceUnavailableError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ServiceUnavailableErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ForbiddenErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ForbiddenError'
    ValidationErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ValidationError'
    RateLimitedError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ErrorBase'
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - TOO_MANY_REQUESTS
    SmartViewArticleKeywordSearchResponse:
      type: object
      description: 'A map of each input keyword to its list of suggested keywords sorted by relevance in descending order.

        When no matches are found for a keyword, an empty array is returned for that key.

        '
      additionalProperties:
        type: array
        items:
          type: string
          description: The preset article keyword suggestion.
      example:
        Ramen:
        - Ramen
        - ラーメン
        Tokyo:
        - Tokyo
        - 東京
    UnauthorizedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/UnauthorizedError'
    RateLimitedErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/RateLimitedError'
    ErrorBase:
      type: object
      required:
      - message
      - retriable
      properties:
        message:
          type: string
        retriable:
          type: boolean
    UnauthorizedErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNAUTHORIZED
    ForbiddenError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ForbiddenErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
    ForbiddenErrorExtension:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - TERMS_OF_SERVICE_NOT_ACCEPTED
          - ACCESS_DENIED
        terms_of_service_path:
          type: string
          example: /terms/agreement
          description: The path that the user must open in a browser to accept the terms of service. The hostname matches the API hostname.
    ValidationError:
      type: object
      allOf:
      - $ref: '#/components/schemas/ValidationErrorExtension'
      - $ref: '#/components/schemas/ErrorBase'
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
